@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

main {
  padding: 20px;
}

#firstSection {
  height: 95vh;
  padding: 10px 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3rem;
}

#firstSection_top > p:first-child {
  color: #2D9CDB;
  font-size: 12px ;
  font-weight: 500;
}

#firstSection_top > p:nth-child(2){
  font-size: 24px;
  font-weight: 500;
  color: #333;
}

#firstSection_top > div:last-child {
  height: 145px;
  width: 90%;
}

#firstSection_top > div:last-child > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 18px;
}

#firstSection_bottom > p:first-child {
  font-size: 24px;
  font-weight: 500;
}

#firstSection_bottom > p:nth-child(2) {
  font-size: 12px;
  font-weight: 500;
}

#firstSection_bottom_form > label {
  font-size: 10px;
  font-weight: 500;
  color: #828282
}

#firstSection_bottom_form > div  {
  height: 50px;
  position: relative;
  width: 55%;
}

#firstSection_bottom_form > div > input {
  height: 100%;
  width: 100%;
}

#firstSection_bottom_form > div > button{
  border-radius: 12px;
  background: #2D9CDB;
  font-size: 14px;
  border: 0;
  outline: 0;
  padding: 10px 20px;
  color: white;
}  


#firstSection_bottom_form > div > button  {
  height: 100%;
  background: #2D9CDB;
  font: 14px;
  font-weight: 500;
  border: 0;
  outline: 0;
  padding: 10px 20px;
  color: white;
  position: absolute;
  top: 4px;
  right: 0;

}








